.jumbotron {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#515151+0,2d2d2d+100 */
    background: #515151; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #515151 0%, #2d2d2d 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #515151 0%,#2d2d2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #515151 0%,#2d2d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#2d2d2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: white;
}

main {
    padding-bottom: 25px;
}