.navbar {
  padding-top: 10px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  box-shadow: 1px 1px 1px grey;
  width: 100%;
  display: none;
}

.navbar ul {
  font-size: 18px;
  list-style-type: none;
  padding: 0px;
}

.navbar li {
  display: inline;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.navbar a {
  color: orange;
  padding: 14px 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: gray;
}

.separater {
  height: 1px;
  width: 100%;
  background-color: #E8E6DC;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.face-separater {
  height: 1px;
  width: 100%;
  background-color: #E8E6DC;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
