* {
    margin: 0;
}

body {
    font-family: "Helvetica Neue", sans-serif;
}

/* Header */
header {
    background: rgb(57, 57, 57);
    background: radial-gradient(circle, rgba(57, 57, 57, 1) 0%, rgba(113, 113, 113, 1) 100%);

    text-align: center;

    position: fixed;
    width: 100%;
    height: 500px;
    top: 0;

    transition: all 500ms ease-in-out;
}

header.shrunk {
    height: 100px;
    text-align: left;
    display: inline;
    padding: 25px;
}

header.shrunk * {
    display: inline;
    vertical-align: middle;
}

header.shrunk #header-bio {
    margin-left: 15px;
}

header h1 {
    font-size: 3em;
    color: white;
}

header p {
    font-size: 1.5em;
    color: white;
}

header img {
    height: 100%;
    width: auto;
    max-height: 250px;
    border-radius: 100%;
}

/* Main */
main {
    margin: 500px 0 25px 25px;
    height: 2000px; /* TODO: Remove; for scrolling testing */
}