.jumbotron {
  background-image: url("images/utah_pose.JPG");
  min-height: 500px;
  max-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.jumbotron h1 {
  font-size: 98px;
  font-weight: lighter;
  color: white;
  text-shadow: 0px 1px 1px gray;
}

.jumbotron p {
  color: white;
  font-style: italic;
  position: relative;
  top: 300px;
}

.face-desc {
  margin-left: -15px !important;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: orange;
  text-decoration: none;
}

#acabadge {
  max-width: 150px;
  height: auto;
  width: auto;
}

#portfolio .col {
  padding-left: 0px;
}

#portfolio h3 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 32px;
  font-weight: lighter;
}

#portfolio p {
  font-family: Helvetica, sans-serif;
}

#portfolio img {
  max-width: 100%;
  height: auto;
  display: block;
}

#contact-box .container-fluid {
  background-color: #FFD900;
  border: 15px solid #FFD900;
  color: white;
  height: auto;
}

#contact-box h3 {
  /*text-shadow: 2px 2px 20px black;*/
  font-size: 48px;
  font-weight: lighter;
}

#contact-box .face-separater {
  background-color: white;
}

#contact-box img {
  border: 5px solid white;
  width: 200px;
  float: right;
}

#contact-box ul img {
  width: 50px;
  border: none;
}

#contact-box ul {
  font-size: 18px;
  list-style-type: none;
  padding: 0px;
}

#contact-box li {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

#contact-box a {
  color: #fff;
}

#contact-box a:hover {
  color: orange;
  text-decoration: none;
}

#social-icons {
  float: left;
  padding-bottom: 50px;
}

#social-icons img {
  max-width: 20%;
  border: none;
  padding-right: 10px;
  float: left;
}

#support-me {
  color: #fff;
}

#support-me h3 {
  font-size: 48px;
  font-weight: lighter;
  text-align: right;
}

#support-me p {
  text-align: right;
  font-size: 18px;
  font-weight: lighter;
}

#support-me a {
  color: #003087;
  font-style: italic;
  font-weight: bolder;
}

#support-me a:hover {
  color: #003087;
}

#support-me .btn {
  width: 175px;
  height: auto;
  display: block;
  float: right;
  box-shadow: 1px 1px 1px grey;
}

#support-me img {
  border: none;
  height: 50px;
  width: auto;
  padding-right: 5px;
}

#tweets {
  float: right;
}
